body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
  color: #354463;
  background-color: rgb(239, 239, 239);
}

ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-right: 40px;
}

h1 {
  padding-top: 10px;
  font-size: 40px;
  text-align: center;
  color: white;
  background-color: #354463;
  font-weight: 600;
  height: 50px;
}

li {
  padding: 32px;
  width: 150px;
  height: fit-content;
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  height: 150px;
  width: 150px;
}

h2 {
  margin: 6px 0;
  font-size: 15px;
  font-weight: 600;
  height: 65px;
}

p {
  margin: 5px 0;
  font-size: 12px;
}

button {
  border-radius: 10px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: #354463;
  border: 0.5px solid #354463;
  box-shadow: 1px 2px 3px rgba(53, 68, 99, 0.6);
}

button:hover {
  background-color: #354463;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  border: 16px solid palevioletred;
  border-top: 16px solid #354463;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.failed-fetch {
  display: none;
}

.empty-list {
  display: none;
}

@media screen and (max-width:800px) {
  ul {
    justify-content: center;
    align-items: center;
   }
}